h1{
    display: block;
    
    text-align: center;
    background-color: yellowgreen;
    color: black;
    font-size: 64px;
    width: 1000px;
    height: auto;
    
    margin-left: auto;
    margin-right: auto;
    
   
}

#ak{
    width: 1000px;
    height: 600px;
    background-color: yellowgreen;
    color: black;
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}

.n{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #ffff;
    font-size: 24px;
    width: 800px;
    height: auto;
    display: block;
    border: 3px solid black;
}
table{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.gak{
    
   
    text-align: center;
    
    display: block;
    font-size: 24px;
    border: 3px solid black;
}

#box{
    text-align: center;
    display: block;
    
    padding-left: 10px;
    padding-right: 50px;
}
.name{
    
    padding: 10px;
}

a{
    width: 250px;
    text-decoration: none;
    display: block;
}
#syu{
    background-color: yellowgreen;
    color: black;
}
